{% extends "base.html" %} {% block content %}
<div class="container my-5">
	<h1>List of all buildings</h1>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">Code</th>
				<th scope="col">Name</th>
				<th scope="col">Street Address</th>
				<th scope="col">Zipcode</th>
				<th scope="col">City</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for b in buildings %}
			<tr>
				<td>{{b.code}}</td>
				<td>{{b.name}}</td>
				<td>{{b.street_address}}</td>
				<td>{{b.zipcode}}</td>
				<td>{{b.city}}</td>

				<td>
					<a href="/edit/building/{{b.id}}">edit</a> |
					<a href="/destroy/building/{{b.id}}">delete</a> |
					<a href="/building/{{b.id}}">show</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<a href="/add/building" class="btn btn-dark">Add Building</a>
</div>
{% endblock %}
