{% extends "base.html" %} {% block nav %}{% endblock %} {% block style %}<style>
	#mainbody {
		background-image: url("/static/index-bg.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}
</style>
{% endblock %} {% block content %}
<div
	class="border d-flex align-items-center justify-content-center vh-100"
	id="mainbody"
>
	<div class="card col-3">
		<ul class="nav nav-pills mb-3 mx-auto pt-3" id="pills-tab" role="tablist">
			<li class="nav-item col-6" role="presentation">
				<button
					class="nav-link active"
					id="pills-login-tab"
					data-bs-toggle="pill"
					data-bs-target="#pills-login"
					type="button"
					role="tab"
					aria-controls="pills-login"
					aria-selected="true"
				>
					login
				</button>
			</li>
			<li class="nav-item col-6" role="presentation">
				<button
					class="nav-link"
					id="pills-register-tab"
					data-bs-toggle="pill"
					data-bs-target="#pills-register"
					type="button"
					role="tab"
					aria-controls="pills-register"
					aria-selected="false"
				>
					register
				</button>
			</li>
		</ul>
		<div class="tab-content" id="pills-tabContent">
			<div
				class="tab-pane fade show active"
				id="pills-login"
				role="tabpanel"
				aria-labelledby="pills-login-tab"
			>
				<form action="/login" method="post" class="card-body bg-light">
					<h2 class="text-dark">Login</h2>
					{% with messages = get_flashed_messages(category_filter=['login']) %}
					{% if messages %}
					<div class="alert alert-danger" role="alert">
						{% for message in messages %}
						<p>{{message}}</p>
						{% endfor %}
					</div>
					{% endif %} {% endwith %}
					<div class="form-group">
						<label for="email">Email:</label>
						<input type="text" name="email" class="form-control" />
					</div>
					<div class="form-group">
						<label for="password">Password:</label>
						<input type="password" name="password" class="form-control" />
					</div>
					<br />
					<input type="submit" value="Login" class="btn btn-outline-dark" />
				</form>
			</div>
			<div
				class="tab-pane fade"
				id="pills-register"
				role="tabpanel"
				aria-labelledby="pills-register-tab"
			>
				<form action="/register" method="post" class="card-body bg-light">
					<h2 class="text-dark">Register</h2>
					{% with messages = get_flashed_messages(category_filter=['register'])
					%} {% if messages %}
					<div class="alert alert-danger" role="alert">
						{% for message in messages %}
						<p>{{message}}</p>
						{% endfor %}
					</div>
					{% endif %} {% endwith %}
					<div class="form-group">
						<label for="first_name">First Name:</label>
						<input type="text" name="first_name" class="form-control" />
					</div>
					<div class="form-group">
						<label for="last_name">Last Name:</label>
						<input type="text" name="last_name" class="form-control" />
					</div>
					<div class="form-group">
						<label for="email">Email:</label>
						<input type="text" name="email" class="form-control" />
					</div>
					<div class="form-group">
						<label for="password">Password:</label>
						<input type="password" name="password" class="form-control" />
					</div>
					<div class="form-group">
						<label for="confirm">Confirm Password:</label>
						<input type="password" name="confirm" class="form-control" />
					</div>
					<br />
					<input type="submit" value="Register" class="btn btn-outline-dark" />
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
