{% extends "base.html" %}{% block style %}<style>
	#intro {
		background-image: url(/static/index-bg.jpg);
		height: 100vh;
	}
</style>
{% endblock %}{% block nav %}{% endblock %}{% block content %}
<div id="intro" class="bg-image shadow-2-strong">
	<!-- <img src="/static/index-bg.jpg" class="img-fluid" /> -->
	<div class="mask" style="background-color: rgba(0, 0, 0, 0.5)">
		<div class="d-flex align-items-center justify-content-center vh-100">
			<div id="btnHide">
				<h1 class="text-white text-center display-1">
					Welcome to Residential Management
				</h1>
				<div class="text-center">
					<button class="btn btn-outline-light mb-3" onclick="welcome()">
						Enter
					</button>
				</div>
			</div>

			<div id="loginCard" class="card" style="display: none; width: 23rem">
				<div class="card-body opacity-75">
					<!-- Pills navs -->
					<ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
						<li class="nav-item" role="presentation">
							<a
								class="nav-link active"
								id="tab-login"
								data-mdb-toggle="pill"
								href="#pills-login"
								role="tab"
								aria-controls="pills-login"
								aria-selected="true"
								>Login</a
							>
						</li>
						<li class="nav-item" role="presentation">
							<a
								class="nav-link"
								id="tab-register"
								data-mdb-toggle="pill"
								href="#pills-register"
								role="tab"
								aria-controls="pills-register"
								aria-selected="false"
								>Register</a
							>
						</li>
					</ul>
					<!-- Pills navs -->

					<!-- Pills content -->
					<div class="tab-content">
						<div
							class="tab-pane fade show active"
							id="pills-login"
							role="tabpanel"
							aria-labelledby="tab-login"
						>
							<form action="/login" autocomplete="off" method="post">
								{% with messages =
								get_flashed_messages(category_filter=['login']) %} {% if
								messages %}
								<div class="alert alert-danger" role="alert">
									{% for message in messages %} {{message}} {% endfor %}
								</div>
								{% endif %} {% endwith %}
								<!-- Email input -->
								<div class="form-outline mb-4">
									<input type="email" name="email" class="form-control" />
									<label class="form-label" for="email">Email</label>
								</div>

								<!-- Password input -->
								<div class="form-outline mb-4">
									<input type="password" name="password" class="form-control" />
									<label class="form-label" for="password">Password</label>
								</div>

								<!-- Submit button -->
								<button
									type="submit"
									value="Login"
									class="btn btn-primary btn-block mb-4"
								>
									Login
								</button>
							</form>
						</div>
						<div
							class="tab-pane fade"
							id="pills-register"
							role="tabpanel"
							aria-labelledby="tab-register"
						>
							<form action="/register" autocomplete="off" method="post">
								<!-- First Name input -->
								<div class="form-outline mb-4">
									<input type="text" name="first_name" class="form-control" />
									<label class="form-label" for="first_name">First Name</label>
								</div>

								<!-- Last Name input -->
								<div class="form-outline mb-4">
									<input type="text" name="last_name" class="form-control" />
									<label class="form-label" for="last_name">Last Name</label>
								</div>

								<!-- Email input -->
								<div class="form-outline mb-4">
									<input type="email" name="email" class="form-control" />
									<label class="form-label" for="email">Email</label>
								</div>

								<!-- Password input -->
								<div class="form-outline mb-4">
									<input type="password" name="password" class="form-control" />
									<label class="form-label" for="password">Password</label>
								</div>

								<!-- Repeat Password input -->
								<div class="form-outline mb-4">
									<input type="password" name="confirm" class="form-control" />
									<label class="form-label" for="confirm"
										>Repeat password</label
									>
								</div>
								<!-- Submit button -->
								<button
									type="submit"
									value="Register"
									class="btn btn-primary btn-block mb-3"
								>
									Register
								</button>
							</form>
						</div>
					</div>
					<!-- Pills content -->
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	function welcome() {
		var x = document.getElementById("loginCard");
		var y = document.getElementById("btnHide");
		if (x.style.display === "none") {
			x.style.display = "block";
			y.style.display = "none";
		}
	}
</script>
{% endblock %}
