{% extends "base.html" %} {% block style %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<script>
	function initMap() {
		// The location of Uluru
		const uluru = { lat: 34.025139, lng: -118.474129 };
		// The map, centered at Uluru
		const map = new google.maps.Map(document.getElementById("map"), {
			zoom: 15,
			center: uluru,
		});
		// The marker, positioned at Uluru
		const marker = new google.maps.Marker({
			position: uluru,
			map: map,
		});
	}

	window.initMap = initMap;
</script>

<style>
	#map {
		height: 100%;
		/* The height is 400 pixels */
		width: 100%;
		/* The width is the width of the web page */

		object-fit: contain;
	}
</style>
{% endblock %} {% block content %}
<div class="container">
	<h1>{{building.name}}</h1>

	<div class="row">
		<div class="card col-4">
			<div class="card-body">
				<p>Code: <br />{{building.code}}</p>
				<p>
					Address: <br />{{building.street_address}}, {{building.city}}, CA
					{{building.zipcode}}
				</p>

				<div class="photo-gallery">
					<div class="item" style="padding-bottom: 0px">
						<a href="/static/apt-{{building.id}}.jpg" data-lightbox="photos"
							><img
								class="img-fluid thumb"
								src="/static/apt-{{building.id}}.jpg"
						/></a>
					</div>
				</div>
			</div>
		</div>

		<div class="col-8">
			<div id="map"></div>
		</div>
	</div>

	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANIph9cgPNh218TiVnIsP3lHXdMpF5Vh0&callback=initMap&v=weekly"
		defer
	></script>

	{% endblock %}
</div>
