{% extends "base.html" %} {% block style %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<script>
	function initMap() {
		// The location of Uluru
		const uluru = { lat: 34.025139, lng: -118.474129 };
		// The map, centered at Uluru
		const map = new google.maps.Map(document.getElementById("map"), {
			zoom: 15,
			center: uluru,
		});
		// The marker, positioned at Uluru
		const marker = new google.maps.Marker({
			position: uluru,
			map: map,
		});
	}

	window.initMap = initMap;
</script>

<style>
	#map {
		height: 400px;
		/* The height is 400 pixels */
		width: 100%;
		/* The width is the width of the web page */
	}
</style>
{% endblock %} {% block content %}
<div class="container">
	<h1>List of all buildings</h1>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Code</th>
				<th scope="col">Name</th>
				<th scope="col">Street Address</th>
				<th scope="col">Zipcode</th>
				<th scope="col">City</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{building.code}}</td>
				<td>{{building.name}}</td>
				<td>{{building.street_address}}</td>
				<td>{{building.zipcode}}</td>
				<td>{{building.city}}</td>
			</tr>
		</tbody>
	</table>

	<div class="col-6"><div id="map"></div></div>
</div>

<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANIph9cgPNh218TiVnIsP3lHXdMpF5Vh0&callback=initMap&v=weekly"
	defer
></script>

{% endblock %}
